<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Cristina Sanchez Enciso y Paula Otero Colmenar.
</p>

<img src="/images/cris1.jpg" />
<img src="/images/paula1.jpg" />

<a href=https://github.com/csenciso>GitHub</a>


