
<h1>Ayuda</h1>

<p> Un quiz es tipo de juego en el cual los participantes deben intentar responder a una serie de preguntas correctamente. El jugador debe responder en el espacio reservado para ello a la pregunta formulada. Este portal se trata de un proyecto educativo para aprender acerca de temas como protocolo HTTP, Git, Heroku, express.js, etc... Gracias por su participacion</p>
